.main{
    background-image: url('../src/images/login.png');
    background-position: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}
.main::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(130deg, #56b4e3c5, #7d58a5ce);
}